<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Can I float through Canoe Pass?</title>
    <link href={{ url_for('static',filename='styles/bootstrap.min.css' ) }} rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TH2PSJG43D"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-TH2PSJG43D');
  </script>

  </head>

  {% if floating %}
  <body class="d-flex h-100 text-center text-white bg-success">
  {% endif %}

  {% if not floating %}
  <body class="d-flex h-100 text-center text-white bg-danger">
  {% endif %}

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Can I float through Canoe Pass?</h3>
        </div>
      </header>

      <main class="px-3">
        {% if floating %}
        <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg><br><br>
        <h1>You're good to go!</h1>
        <p>The tide is currently {{height}} feet at Canoe Pass.</p>
        <p class="lead">You can float through Canoe Pass until about {{time}}.</p>
        {% endif %}

        {% if not floating %}
        <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor"
          class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
        </svg><br><br>
        <h1>Sorry, you can't do it!</h1>
        <p>The tide is currently {{height}} feet at Canoe Pass.</p>
        <p class="lead">You won't be able to float through Canoe Pass until about {{time}}.</p>
        {% endif %}
      </main>

      <footer class="mt-auto text-white-50">
        <p><a href='/about' ) }} class="text-white">about canoepass.info</a></p>
      </footer>
    </div>

  </body>

</html>